<div class="card">
    <div class="card-header">{{data.title}}</div>
    <div class="card-body">
        <mat-dialog-content [formGroup]="form">
            <ng-container *ngFor="let item of data.columns">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="name">{{item.description}}</label>
                            <input 
                            [ngClass]="{
                                'is-invalid':
                                form.controls[item.name].invalid &&
                                  (form.controls[item.name].dirty ||
                                  form.controls[item.name].touched) && submitting
                              }"
                            class="form-control" formControlName="{{item.name}}" type="text" placeholder="{{item.description}}">
                            <div class="invalid-feedback" *ngIf="form.controls[item.name].errors?.required && submitting">
                                Please provide a valid value for the required field.
                              </div>
                        </div>
                    </div>
                </div>
            </ng-container>
           
        </mat-dialog-content>
        <mat-dialog-actions>

            <button type="button" (click)="Save()" class="btn btn-primary mr-2">Save</button>
        
            <button type="button" (click)="cancel()" class="btn btn-info ">Cancel</button>
        
        </mat-dialog-actions>
    </div>
</div>
