<div class="card-group mb-4">
  
      <div class="card" *ngIf="showNameSpaces">
        <div class="card-body"><i class="fa fa-shopping-basket bg-success p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 mt-2">{{counters?.RESOUCETYPE_NAMESPACES}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Name Spaces</div>
          <div class="mt-3  mb-0" style="height: 4px">
           
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body"><i class="fa fa-envelope-o bg-success p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 mt-2">{{counters?.RESOUCETYPE_DEPLOYMENTS}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Deployments</div>
          <div class="mt-3  mb-0" style="height: 4px">
           
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body"><i class="fa fa-wrench bg-success p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 mt-2">{{counters?.RESOUCETYPE_SERVICES}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Services</div>
          <div class="mt-3  mb-0" style="height: 4px">
           
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body"><i class="fa fa-shopping-bag bg-success p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 mt-2">{{counters?.RESOUCETYPE_PODS}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Pods</div>
          <div class="mt-3  mb-0" style="height: 4px">
           
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body"><i class="fa fa-globe bg-success p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 mt-2">{{counters?.RESOUCETYPE_INGRESS}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Ingress</div>
          <div class="mt-3  mb-0" style="height: 4px">
           
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body"><i class="fa fa-user-secret bg-success p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 mt-2">{{counters?.RESOUCETYPE_SECRETS}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Secrets</div>
          <div class="mt-3  mb-0" style="height: 4px">
           
          </div>
        </div>
      </div>
  </div>