<div class="row">
    <div class="col-sm-6 col-lg-3" *ngIf="all">
      <div class="card">
        <div class="card-body"><i class="fa fa-server bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">{{result.aggregation?.totalCount}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Clusters</div>
          <div class="mt-3  mb-0" style="height: 4px">
           
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-{{all ? 3 : 4}}">
      <div class="card">
        <div class="card-body"><i class="fa fa-desktop bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">{{result?.aggregation?.totalNodes}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Total nodes</div>
          <div class="mt-3  mb-0" style="height: 4px">
           
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-lg-{{all ? 3 : 4}}">
      <div class="card">
        <div class="card-body"><i class="fa fa-microchip bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">{{result?.aggregation?.totalCpuUsage | mbTogb}} / {{result?.aggregation?.totalCpu | mbTogb}} Cores</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">CPU ({{result?.aggregation?.cpuPercentage}})</div>
          <div class="progress progress-xs mt-3 mb-0">
            <div role="progressbar"  aria-valuemin="0" aria-valuemax="100"
              class="progress-bar bg-{{result?.aggregation?.cpuPercentage | progressStatus}}" [style.width]="result?.aggregation?.cpuPercentage"></div>
          </div>
        </div>
      </div>
    </div>
  
    
    <div class="col-sm-6 col-lg-{{all ? 3 : 4}}">
      <div class="card">
        <div class="card-body"><i class="fa fa-microchip bg-info p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-info mb-0 mt-2">{{result?.aggregation?.totalMemoryUsage | mbTogb}} / {{result?.aggregation?.totalMemory | mbTogb}} GB</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Memory ({{result?.aggregation?.memoryPercentage}})</div>
          <div class="progress progress-xs mt-3 mb-0">
            <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
              class="progress-bar bg-{{result?.aggregation?.cpuPercentage | progressStatus}}" [style.width]="result?.aggregation?.memoryPercentage"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
